.Thread {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  height: calc(100vh - 88px);
  width: 100vw;
}

.Thread__sectionTitle {
  position: sticky;

  top: 0;

  display: flex;
  align-items: center;

  height: 32px;
  width: 100vw;
  z-index: 400;

  margin: 2px 0;
  padding: var(--o-sm-m);

  background: white;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
}
