.Page__content {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  height: 100%;
  z-index: 600;

  padding-top: var(--o-md-m);

  transition: padding 0.2s ease;
}

.Page__content_withSearchbar {
  padding-top: var(--o-xl-m);
}
